footer {
    position: relative;

    .footer_contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        gap: 40px;
        height: 250px;
        background-image: linear-gradient(rgba(255,255,255,78%),rgba(255,255,255,78%)), url("../../images/estaciondapsahorqueta.png") ;
        background-size: cover;
        background-position: 50% 70%;
        background-attachment: fixed;
        padding-top:1.5rem;

        
        img{
            height:40%;

            @include media-breakpoint-up(lg){
                height: 50%;
            }


        }
        .footer_datos{
            margin-left: 3rem;
           

            address{
                display: inline-block;

                i{
                    padding-right: 1rem;
                    font-size: 2.5rem;
                    color: $color-main;
                }

            }

            
            .info{
                display: inline-block;
                margin-right: 2rem;
                

                              
                i{
                    padding-right: 1rem;
                    font-size: 2.5rem;
                    color: $color-green;

                }
               

                
                a{
                    text-decoration: none;
                    color: black;
                    &:hover {
                        
                        text-decoration: underline;
                    }                   
                }
            }
        }


    }



               
     
    
  

    .footer-bottom {
        
        background-color: $color-gray;
        color: #000000;
        font-size: 1.5rem;
        text-align: center;
        padding: 1.5rem 0;
        position: relative;
        p {
            display: inline-block;
            margin: 0;
        }
    }

    .footer-widget {
        position: fixed;
        left: 2rem;
        bottom: 2rem;
        z-index: 100;
        width: 6rem;
        height: 6rem;
        animation: bounce-in-top 1.1s both;
        animation-delay: 1s;
        
        a {
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
            color: #fff;
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            transition: all .3s ease;
            z-index: 9999;
            padding: 10px;
            background-color: $color-whatsapp;
            &:hover {
                background-color: #009688;
                color: #fff;
            }
            img {
                height: 40px;
                margin: 0;
                display: block;
                position: relative;
                padding: 0;
                width: 40px;
            }
        }
    }

    .back-to-top {
        color: #fff;
        position: fixed;
        right: 1.5rem;
        bottom: 2.2rem;
        transition: all .3s ease-in-out;
        background-color: #fff;
        border: 2px solid $color-main;
        width: 4rem;
        height: 4rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        text-decoration: none;
        z-index: 11;
        @include media-breakpoint-up(lg) {
            &:hover {
                background-color: $color-green;
                border-color: $color-blue-dark;
                i {
                    color: white;
                }
            }
        }
        
        i {
            font-size: 2.2rem;
            color: $color-main;
            transition: all 0.3s ease;
        }
    }
}