html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: $font-family-main;
    font-size: 1.6rem;
    line-height: 1.5;
    overflow-x: hidden;
    color: $color-font-main;

    
    main{
        overflow: hidden;
        
        &.header-sticky {
                       
            padding-top: 0rem;
            @include media-breakpoint-up(lg){
                padding-top: 9rem;
               
            }
        }
    }
}

.btn {
    color: #fff;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease;
    margin: auto;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.8rem;
    position: relative;
    font-weight: 600;
    border-radius: 0;
    width: 10rem;
    overflow: hidden;
    min-width: 100px;

    @include media-breakpoint-up(md) {
        width: auto;
    }

    span {
        position: relative;
        z-index: 10;
    }
    &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 100%;
        position: absolute;
        left: 0;
        transition: all 0.3s ease;
        background-color: $color-main;
        z-index: 9;
    }
    
    &.btn-primary {
        background: $color-green;
        &:hover {
            &:after {
                width: 100%;
            }
        }
    }

    &.btn-whatsapp {
        background-color: $color-whatsapp;
        border-radius: 2.5rem;
        overflow: hidden;
        color: #fff !important;
        &:after {
            background-color: #009688;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
        i {
            margin-right: .7rem;
            font-size: 2rem;
            transform: translateY(2px);
        }
    }
}


a {
    transition: all 0.3s ease;
    color: $color-main;
    &:hover {
        color: $color-blue-dark;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;

    /* .row > * {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    } */
}

strong {
    font-weight: 700;
}

section {
    padding: 2rem 0;


    h2 {
        padding-bottom: 5px;
        position: relative;
       
        &::before {
            content: "";
            position: absolute;
            left: 0; /* Alinea el borde con el inicio del texto */
            bottom: 5px;
            width: 100%; /* Extiende el borde hasta el 100% del ancho del contenedor */
            height: 2px; /* Define el grosor del borde */
            background-color: $color-green; /* Define el color del borde */
            z-index: -1; /* Asegura que el borde esté detrás del texto */
        }
    }
    
    span{
        padding-bottom: 6px;
        display: inline-block;
        width: fit-content;
        border-bottom: 4px solid $color-main;
        transform: translateY(1px);
    }
    
}

sup {
    top: -0.3em;
}


h1,
h2,
h3 {
    line-height: 1.25;
    letter-spacing: -0.01rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
}

h1 {
    font-size: 3.5rem;
    @include media-breakpoint-up(md) {
        font-size: 6rem;
    }
}

h2 {
    // text-align: center;
    font-size: 3rem;
    @include media-breakpoint-up(md) {
        font-size: 4.4rem;
    }
}

h3{
    padding: 5px 0px;
    font-size: 2.3rem;

}


.lg-sub-html p {
    font-size: 1.5rem;
}

/*ANIMATIONS
********************************************/
  @keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
  }


 @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}

@keyframes transitionHeader {
    0% {
        top: -9rem
    }

    100% {
        top: 0
    }
}

@keyframes scaleit {
    from {
        scale: 1.0;
    }
    50%{
        scale: 1.15;
    }
    to {
        scale: 1.0;
    }
   
}
  
  
  