header {
        
    
    @include media-breakpoint-down(lg) {
    position: fixed;
    z-index: 12;
    width: 100%;
    }
    
    
    &.sticky {
        // box-shadow: 0px 0px 6px #333;
        // background: rgb(0, 0, 0, 92%);
        background-color: $color-blue-main;
        transition: all 1s;
        position: fixed;
        z-index: 999;
        top: 4px;
        width: 100%;

        .navbar-brand {
            img {
                width: 100px;
            }
        }
    }

    .navbar{
        background-color: $color-blue-main;
      

        &-toggler {
            border: 0;
            padding: 0;

            &-icon {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                background-image: none;
                transition: all .25s ease-in-out;
                
                
                    span{
                        display: block;
                        width: 30px;
                        height: 3px;
                        background-color: #fff;
                        transition: all .25s ease-in-out;
                        &:not(:last-child) {
                            margin-bottom: 7px;
                        }
                    }
            }

        }
        
        &-toggler:focus{
            text-decoration: none;
            outline: 0;
            box-shadow: 0 0 0 0;
        }



        &-nav {
            @include media-breakpoint-down(lg) {
                padding: 2rem 0;
            }
        }

        .navbar-collapse {
            flex-grow: inherit;

            //solucion al problema del click en nav bar desktop
            @include media-breakpoint-up(lg){
                height: auto !important;
            }

            .nav-item {
                &:not(:last-child) {
                    margin-right: 1.8rem;
                }
                .nav-link{
                    font-size: 1.7rem;
                    color:#ffffff;
                    letter-spacing: -0.02em;
                    font-weight: 300;
                    position: relative;
                    &:hover {
                        &:after {
                            width: 88%;
                        }
                    }
                    &:after {
                        @include media-breakpoint-up(lg) {
                            content: '';
                            display: block;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0;
                            position: absolute;
                            transition: all 0.3s ease;
                            background-color: #fff;
                            height: 1px;
                            bottom: 2px;
                        }
                    }
                }

                &.contact-us {
                    background-color: $color-sales;
                    padding: .2rem 1.8rem;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    border-radius: 2rem;
                    width: fit-content;
                    transition: all 0.3s ease;
                    position: relative;
                    overflow: hidden;
                    @include media-breakpoint-down(lg) {
                        margin-top: 2rem;
                    }
                    
                    &:hover {
                        &:after {
                            width: 100%;
                        }
                    }

                    &:after {
                        content: '';
                        display: inline-block;
                        width: 0;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        transition: all 0.3s ease;
                        background-color: #e62d2d;
                        z-index: 9;
                    }

                    a {
                        animation: shake 1.5s infinite;
                        font-weight: 400;
                        position: relative;
                        z-index: 10;
                        &:after {
                            display: none;
                        }
                    }
                    i {
                        margin-right: .5rem;
                    }
                }
            }
        }
      
    }

    .navbar-brand {
        img {
            width: 126px;
            height: auto;
            transition: all 0.3s ease;
        }
    }



}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon #S1{
    transform: rotate(45deg) translateY(7px);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon #S2{
    transform: rotate(-45deg) translateY(-7px);
}

@keyframes shake {
    0%{  scale:1; }
    50%{ scale: 1.1;}
    100%{scale: 1;}

}

