/*titulo_animado***********************/
.swiper {
    width: 100%;
    height: auto;

    @include media-breakpoint-down(sm){
        padding-top: 82px;
    }
   

    .swiper-slide {
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-size: cover;
        background-position: 15% center;
        background-repeat: no-repeat;
        @include media-breakpoint-up(sm) {
            height: 600px;
            background-position: center;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.7);
            z-index: 1;
        }

        &--content {
            position: relative;
            padding-top: 6rem;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-width: 90%;
            transform: translateY(-2rem);
            text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.59);
            color: rgb(255, 255, 255);
            @include media-breakpoint-up(lg) {
                max-width: 80%;
                padding-top: 0rem;
            }

            h1 {
                
                font-size: 4.2rem;
                margin-bottom: 1rem;
                text-align: center;
                @include media-breakpoint-up(xl) {
                    font-size: 7rem;
                }
                            
            }

            h2 {
                
                font-size: 3.2rem;
                margin-bottom: 1rem;
                text-align: center;
                @include media-breakpoint-up(xl) {
                    font-size: 4.5rem;
                }
                            
            }

            h3 {
                
                font-size: 2.2rem;
                margin-bottom: 1rem;
                text-align: center;
                @include media-breakpoint-up(xl) {
                    font-size: 3.3rem;
                }
            }

            .btn {
                min-width: 280px;
                margin-top: 2rem;

                @include media-breakpoint-up(sm) {
                    min-width: 330px;
                }
            }
        }

        &.slide-01 {
            background-image: url('../../images/gulf.jpg');
        }

        &.slide-02 {
            background-image: url('../../images/dapsa.jpg');
        }
    }

    // &-button-prev,
    // &-button-next {
    //     color: #fff;
    //     background-color: rgba($color: #fff, $alpha: 0.2);
    //     width: 8rem;
    //     height: 8rem;
    //     border-radius: 100%;
    //     display: grid;
    //     place-items: center;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     // &:hover {
    //     //     &:after {
    //     //         //color: $color-blue-light;
    //     //     }
    //     // }
    //     &:after {
    //         transition: all 0.3s ease;
    //         font-size: 2.6rem;
    //     }

    //     @include media-breakpoint-down(lg) {
    //         display: none;
    //     }
    // }

    // &-button-prev {
    //     left: -4rem;
    //     &:after {
    //         transform: translateX(1.2rem);
    //     }
    // }
    // &-button-next {
    //     right: -4rem;
    //     &:after {
    //         transform: translateX(-1.2rem);
    //     }
    // }

    // &-pagination-bullets {
    //     bottom: 2rem !important;
    // }

    // &-pagination-bullet {
        
    //     width: 4rem;
    //     border-radius: 0;
    //     height: 0.5rem;
    //     background-color: #fff;
    //     opacity: 0.3;
    //     &-active {
    //         opacity: 1;
    //     }
    // }

  }
// divisor secciones

//   .skewed {
//     position: relative;
//     top: -30px;
//     /* bottom: 0px; */
//     /* right: 0; */
//     /* left: 0; */
//     width: 100%;
//     height: 50px;
//     background: #00000039;
//     z-index: 0;
//     transform: skewY(2deg);
//   }

.servicios{
    margin-top: 5rem;
 
    .container{

        h2{
            margin-bottom: 3rem;
        }

        h3{
            text-align: justify;
            margin-top: 2rem;
        }
       
        .valores{

            margin-top: 6rem;        
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: space-evenly;

            @include media-breakpoint-up(lg) {
                gap: 3.5rem;
                flex-direction: row;
            }

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                border-radius: 1.5rem;
                color: #ffffff;
                padding: 3rem;
                text-align: center;
               
                line-height: 1.3;
                height: 22rem;
                // transform: translateY(-10rem);
                opacity: 0.9;
                // text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.9);
                

                @include media-breakpoint-up(lg) {
                    height: inherit;
                    justify-content: flex-start;
                    gap: 3rem;
                    width: 22%;
                }

                &:nth-child(odd){
                    
                    background-color: $color-main;
                    
                }
                &:nth-child(even){
                   
                    background-color: $color-green;
                }


                p{
                    font-size: 2.1rem;
                    @include media-breakpoint-up(md) {
                        font-size: 2.4rem;
                     }

                }

                img{
                    height: 60px;

                    @include media-breakpoint-up(md) {
                       height: 70px;
                    }

                    
                    
                }

            }
        }
    }
}

.estaciones{
   
    .container{
        
        // text-align: center;
        margin-top: 5rem;

        h2{
            margin-bottom: 8rem;
        }

                   
            .estacion{
                background-color:$color-gray-3;
                display: flex;
                flex-direction: column;
                align-content: center;
                margin-bottom: 4rem;
                gap: 3rem;
                padding: 3rem;
                border-radius: 2rem;

                @include media-breakpoint-up(sm) {
                    flex-direction: row;
                    
                 }

                               
                .estacion_ubicacion{
                   width: 100%;

                    @include media-breakpoint-up(sm) {
                        width: 65%;
                        
                     }

                    iframe{
                        width: 100%;
                        height: 300px;

                        @include media-breakpoint-up(sm) {
                           height: 100%;
                            
                         }
                    }
    
                }
                .estacion_info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                                       

                    @include media-breakpoint-up(sm) {
                        width: 35%;
                        align-items: start;
                        padding-left:3rem;
                        
                    }
        
                    img {
                        width:55px;
                        margin-top: 2rem;
                                              
        
                        @include media-breakpoint-up(sm) {
                            width: 80px;
                            margin-bottom: 2.5rem;
                        }
                    }
    
                    h3 {
                        color: #000;
                        font-weight: 700;
                        margin: 1rem 0;
                    }
        
                    a {
                            text-decoration: none;
                            // font-weight: 700;
                            color: $color-main;
        
                            // &:hover{
                            //     text-decoration: underline;
                            // }
                            img{
                                width: 2rem;
                                margin-right: 1rem;
                            }  
        
                    }
    
                    
        
        
        
                }

                
                
            }


    
    }
}




/*THANK YOU
************************************************/
.thank-you {
    padding: 15rem 0;
    text-align: center;

    &>.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
            margin-top: 2rem;
        }
    }

    h1 {
        color: $color-main;
    }


}