/*FONTS
*******************************/
$font-family-main: 'Montserrat', sans-serif;

/*COLORS
*******************************/
$color-main: #333;
$color-blue-main: #20396f;
$color-blue-dark:#24314f;
$color-blue-light: #4764a3;
$color-blue-secundario: #0e1b32;
$color-whatsapp: #1fca1f;
$color-available: #1CCB00;
$color-sales: #b11f24;
$color-sales-2:#e17a7a;
$color-gray-light:#c6c4c4;
$color-gray-dark:#595959;