/*FONTS
*******************************/
$font-family-main:"Fira Sans", sans-serif;

/*COLORS
*******************************/
$color-main: #0170C1;
$color-blue-dark:#24314f;
$color-green:#00AF50;
$color-blue-secundario: #0e1b32;
$color-whatsapp: #1fca1f;
$color-available: #1CCB00;

$color-gray: #cdd3d9;
$color-gray-2: #bdc1c4;

